@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(Images/Backgrounds-water-drops.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#nav-bar-bottom {
	color: rgba(255,255,255,1.00);
}

.navbar-header .navbar-brand img {
	height: 50px;
	margin-top: -5px;
}
#nav-bar-header .navbar-nav a {
	color: rgba(255,255,255,1.00);
	margin-top: 12px;
	margin-right: 20px;
	font-size: large;
}
#nav-bar-header .navbar-nav a:hover {
	font-weight: bold;
}

#nav-bar-header {
	background-color: rgba(0,0,0,0.65);
	border: none;
	height: 70px;
}
#grid {
	margin-top: 120px;
}
